/Dia_5/SistemaHospitalario/SistemaHospitalario/build/
/Dia_5/SistemaHospitalario/SistemaHospitalario/dist/
/Dia_5/SistemaHospitalario/SistemaHospitalario/src/Config.properties
/Dia_6/LigaBaloncesto/Baloncesto/build/
/Dia_6/LigaBaloncesto/Baloncesto/dist/
/Dia_7/Baloncesto/build/
/Dia_7/Baloncesto/dist/
/Dia_7/Baloncesto/src/Config.properties
